<div class="container">
    <div class="features">
        <div class="feature" data-aos="fade-up" data-aos-duration="1000">
            <div class="feature-image">
                <img src="/img/fix4.png" alt="Earn Everywhere">
            </div>
            <div class="feature-content">
                <h3>Earn on Every Purchase</h3>
                <p>Join our Rewards Program today to start earning and redeeming points for incredible rewards.</p>
                <ul>
                    <li>Experience the benefits of our program</li>
                    <li>Enjoy a more rewarding shopping journey with us</li>
                    <li>Accumulate points with every purchase</li>
                </ul>
            </div>
        </div>
        <div class="feature text-first" data-aos="fade-left">
            <div class="feature-content">
                <h3>Redeem and Save</h3>
                <p>Join our Rewards Program to start redeeming points for incredible savings.</p>
                <ul>
                    <li>Turn your everyday shopping into valuable rewards</li>
                    <li>Check your points balance and explore our extensive rewards catalog</li>
                    <li>Redeem your points for discounts, free products, and exclusive offers</li>
                </ul>
            </div>
            <div class="feature-image">
                <img src="/img/fix6.png" alt="Redeem and Save">
            </div>
        </div>
        <div class="feature" data-aos="fade-right">
            <div class="feature-image">
                <img src="/img/fix.jpg" alt="Share With Those Who Matter">
            </div>
            <div class="feature-content">
                <h3>Share With Those Who Matter</h3>
                <p>Join our Rewards Program and invite your family and friends to enjoy the benefits.</p>
                <ul>
                    <li>Help your loved ones save while earning bonus points for yourself</li>
                    <li>Share the rewards and savings by spreading the word</li>
                    <li>Watch your points grow with each successful referral</li>
                    <li>Enjoy amazing discounts, free products, and exclusive offers together</li>
                </ul>
            </div>
        </div>
    </div>
</div>