<div class="container">
    <div class="process-section">
        <div class="process-item" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <div class="process-image">
                <img src="/img/fix2.jpg" alt="Earn Points">
            </div>
            <div class="process-content">
                <h2>How to Earn Points</h2>
                <p>To earn points and maximize your rewards:</p>
                <ul>
                    <li>Make purchases at any of our participating retailers</li>
                    <li>Use our convenient USSD code for transactions through your mobile phone</li>
                    <li>Invite friends and family to join our Rewards Program</li>
                    <li>Receive extra points when they sign up and make their first purchase</li>
                </ul>
            </div>
        </div>
        <div class="process-item text-first" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <div class="process-content">
                <h2>How to Redeem Points</h2>
                <p>Redeeming your points is a straightforward process designed for your convenience.</p> 
                <ul>
                    <li>Use our USSD code to check your points balance and browse our extensive rewards catalog for items or discounts that suit your preferences.</li> 
                    <li>Our catalog offers a wide range of options, from grocery discounts to exclusive products.</li>
                    <li>Redeem your points directly through our USSD code, transferring them to your bank account or applying them to your next purchase.</li>
                </ul>
            </div>
            <div class="process-image">
                <img src="/img/fix1.jpg" alt="Redeem Points">
            </div>
        </div>
    </div>
</div>